<div class="dijitReset dijitMenuItem"
     data-dojo-attach-point="focusNode"
     role="menuitem"
     tabIndex="-1">
    <div class="dijitReset dijitMenuItemIconCell"
         role="presentation">
        <span role="presentation"
              class="dijitInline dijitIcon dijitMenuItemIcon"
              data-dojo-attach-point="iconNode"></span>
    </div>
    <div class="dijitReset dijitMenuItemOverlayLabel dijitHidden"
         colspan="2"
         data-dojo-attach-point="overlayLabelNode"></div>
    <div class="dijitReset dijitMenuItemLabel"
         colspan="2"
         data-dojo-attach-point="containerNode,textDirNode"></div>
    <div class="dijitReset dijitMenuItemAccelKey dijitHidden"
         data-dojo-attach-point="accelKeyNode"></div>
    <div class="dijitReset dijitMenuArrowCell dijitHidden"
         role="presentation">
		<span data-dojo-attach-point="arrowWrapper"
              style="visibility: hidden">
			<span class="dijitInline dijitIcon dijitMenuExpand"></span>
			<span class="dijitMenuExpandA11y">+</span>
		</span>
    </div>
    <div class="ctSelectedItem dijitHidden"
         data-dojo-attach-point="overlayNode"></div>
</div>
