<div>

    <div data-dojo-attach-point='slider'
         data-dojo-type="dijit/form/HorizontalSlider"
         data-dojo-props="
                        intermediateChanges: true,
                        showButtons:false,
                        'class':'ctTimeSlider'">
        <!--<div data-dojo-type="dijit/form/HorizontalRule" data-dojo-props="count:this.maximum+1,container:'bottomDecoration'"></div>-->
        <!--<ol data-dojo-type="dijit/form/HorizontalRuleLabels" data-dojo-props="labels:this.labels">-->
        <!--</ol>-->
    </div>
    <div class="ctButtonWrapper">
        <div data-dojo-attach-point='playbutton'
             data-dojo-type="dijit/form/ToggleButton"
             data-dojo-props="'class':'ctPlayButton',iconClass:'icon-agiv-play'"></div>
    </div>
</div>