*::-moz-selection {
    background-color: transparent;
}

* ::selection {
    background-color: transparent;
}

* {
    outline: 0;
}

.fullwidthAndHeight {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.noscrooling {
    overflow: hidden;
}

.header .logo h1 span {
    position: absolute;
    left: -1000px;
}

.dijitToasterClip {
    position: absolute;
    z-index: 2000;
    overflow: hidden;
}

.ctTpl_auskunfttemplate .header {
    white-space: nowrap;
    overflow: visible;
    height: 30px;
    z-index: 5;
}

.ctTpl_auskunfttemplate .layerList {
    position: absolute;
    bottom:20px;
    left:20px;
}

.ctTpl_auskunfttemplate .header .logo {
    padding: 0 10px;
    font-size: 16px;
    line-height: 30px;
    display: inline-block;
    overflow: hidden;
}

.ctTpl_auskunfttemplate .header .appTitle {
    padding: 0 0 0 10px;
    font-size: 16px;
    line-height: 30px;
    display: inline-block;
    overflow: hidden;
}

.ctTpl_auskunfttemplate .mainMap .omnisearch {
    z-index: 5;
    position: absolute;
    top: 20px;
    left: 20px;
    width: 290px;
}

.ctTpl_auskunfttemplate .userMenu,.ctTpl_auskunfttemplate .header .builderWizardBtn {
    display: inline-block;
    width: auto;
    text-align: right;
    vertical-align: top;
}

.ctTpl_auskunfttemplate .footer.dijitContentPane {
    bottom: 0;
    left: 0;
    height: 30px;
    padding: 0;
    white-space: nowrap;
    overflow-y: hidden;
}

.ctTpl_auskunfttemplate .footer>table,.ctTpl_auskunfttemplate .sidebar>table {
    width: 100%;
    height: 100%;
    border-spacing: 0;
    padding: 0;
}

.ctTpl_auskunfttemplate .footer>table td,.ctTpl_auskunfttemplate .sidebar>table td {
    border-spacing: 0;
    padding: 0;
}

.ctTpl_auskunfttemplate .footer .dockingBarBottomLeft {
    display: inline-block;
    vertical-align: top;
    position: relative;
}

.ctTpl_auskunfttemplate .footer .dockingBarBottomRight {
    display: inline-block;
    vertical-align: top;
    right: 0;
}

.ctTpl_auskunfttemplate .ctFollowMe .dijitTabPaneWrapper {
    border-bottom-width: 0;
}

.ctTpl_auskunfttemplate .footer .coordinateInfo {
    display: inline-block;
}

.ctTpl_auskunfttemplate .mainMap .dijitContentPane {
    padding: 0;
}

.ctTpl_auskunfttemplate .mainMap {
    overflow: hidden;
}

.ctTpl_auskunfttemplate .esriControlsBR {
    position: absolute;
    left: 5px;
    bottom: 5px;
    z-index: 1;
}

.ctTpl_auskunfttemplate .esriAttribution {
    font-size: 10px;
    text-align: left;
}

.ctTpl_auskunfttemplate .logo-med {
    bottom: 5px;
    right: 70px;
    cursor: pointer;
    position: absolute;
    height: 36px;
    width: 65px;
}

.ctTpl_auskunfttemplate .map .dijitMenu {
    z-index: 2;
}

.ctTpl_auskunfttemplate .esriLargeSliderTR,.ctTpl_auskunfttemplate .esriSimpleSliderTR {
    top: 70px;
    right: 25px;
}

.ctTpl_auskunfttemplate .esriLargeSliderTL,.ctTpl_auskunfttemplate .esriSimpleSliderTL {
    top: 70px;
    left: 25px;
}

.ctTpl_auskunfttemplate .esriSimpleSliderBR {
    bottom: 155px;
    right: 25px;
}

.ctTpl_auskunfttemplate .esriLargeSliderBR {
    bottom: 155px;
    right: 10px;
}

.ctTpl_auskunfttemplate .esriLargeSliderBL,.ctTpl_auskunfttemplate .esriSimpleSliderBL {
    bottom: 110px;
    left: 25px;
}

.ctTpl_auskunfttemplate .templateButtons {
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0;
}

.ctTpl_auskunfttemplate .dijitContainer.header .templateButtons {
    overflow: visible;
    right: 0!important;
    left: auto!important;
}

.ctTpl_auskunfttemplate .dijitContainer.header .templateButtons>div {
    text-align: right;
    display: table;
}

.ctTpl_auskunfttemplate .dijitContentPane.templateButtons {
    padding: 0;
    z-index: 3;
}

.ctTpl_auskunfttemplate .templateButtons .ctShrinkingDropDown .dijitButtonNode {
    height: 18px;
}

.ctTpl_auskunfttemplate .dijitMenuPopup .ctShrinkingDropDownMenu {
    position: relative;
    top: -1px!important;
}

.ctTpl_auskunfttemplate .mapview_tools {
    z-index: 100;
    bottom: 9px;
    right: 25px;
}

.ctTpl_auskunfttemplate .buttonBasemapToggler {
    position: absolute;
    z-index: 100;
    right: 10px;
    top: 5px;
}

.ctTpl_auskunfttemplate .ctWDYWBtn.dijitDropDownButton {
    width: 289px;
}

.ctTpl_auskunfttemplate .mapLoadingInfo {
    position: absolute;
    left: 5px;
    top: 5px;
}

.ctTpl_auskunfttemplate .ctMapLoadingInfo {
    width: 15px;
    height: 15px;
}

.ctTpl_auskunfttemplate .overviewMap {
    overflow: visible;
}

.ctTpl_auskunfttemplate .footer .infoBar {
    display: inline-block;
    margin: 0 auto;
    position: relative;
    top: -5px;
}

.ctTpl_auskunfttemplate .scaleBar {
    display: inline-block;
    vertical-align: bottom;
    height: 33px;
}

.ctTpl_auskunfttemplate .scaleBar .esriScalebar {
    position: relative;
    top: 12px;
    height: auto;
    width: 150px;
    left: 0!important;
}

.ctTpl_auskunfttemplate .toc {
    position: absolute;
    top: 127px;
    left: 75px;
    z-index: 20;
}

.ctTpl_auskunfttemplate .companyLogo{
    background-image:url('http://gmkfreelogos.com/logos/B/img/Batman.gif');
    position:  absolute;
    right:0;
    width: 200px;
    height:200px;
    z-index: 1;
}