<div>
    <div data-dojo-type="ct/ui/template/OverlayContainer"
         data-dojo-props="'class':'gipodSimpleMapPanel'" data-dojo-attach-point="overlayContainer">
        <div data-dojo-type="dijit/layout/ContentPane"
             data-dojo-attach-point="mapnode" data-dojo-props="'class':'noPadding'"></div>
        <div class="mapControls">
            <div class="ctScalebar" data-dojo-attach-point="scalebarNode"></div>
            <div class="ctScaleviewer" data-dojo-attach-point="scaleviewerNode"></div>
        </div>
    </div>
</div>