<div class="StandardView ctInfoViewer">
    <div class="ctPreview">
        <div class="ctBottomSpace">
            <span class="ctBold">${ui.municipality}:</span>
            <span data-dojo-attach-point="municipalityNode"></span>
        </div>
        <div class="ctBottomSpace">
            <span class="ctBold">${ui.parcelID}:</span>
            <span data-dojo-attach-point="parcelIDNode"></span>
        </div>
        <div class="ctBottomSpace">
            <span class="ctBold">${ui.type}:</span>
            <span data-dojo-attach-point="typeNode"></span>
        </div>
        <div class="ctBottomSpace">
            <span class="ctBold">${ui.beneficiary}:</span>
            <span data-dojo-attach-point="beneficiaryNode"></span>
        </div>
        <div class="ctBottomSpace">
            <span class="ctBold">${ui.order}:</span>
            <span data-dojo-attach-point="orderNode"></span>
        </div>
        <!--        <div class="ctBottomSpace">
                    <span class="ctBold">${ui.startDate}:</span>
                    <div data-dojo-attach-point="startDateNode"></div>
                </div>
                <div class="ctBottomSpace">
                    <span class="ctBold">${ui.endDate}:</span>
                    <div data-dojo-attach-point="endDateNode"></div>
                </div>-->
    </div>
    <!--    <div class="ctSideBar" data-dojo-attach-point="sidebar">
            <div data-dojo-props="'class': 'ctDetailButton'" data-dojo-type="dijit.form.Button" data-dojo-attach-point="detailViewButton" data-dojo-attach-event="onClick:_handleOpenDetailsClick">${ui.detailViewButtonLabel}</div>
        </div>-->
</div>