<div>
    <div data-dojo-type="dijit/layout/BorderContainer"
         data-dojo-attach-point="mainContainer"
         data-dojo-props="gutters:false">

        <div data-dojo-type="dijit/layout/ContentPane"
             class="switcherPane"
             data-dojo-attach-point="switcherPane"
             data-dojo-props="region:'top'">

            <span class="switcherLabel"
                  data-dojo-attach-point="leftLabel"></span>

            <div data-dojo-type="dojox/mobile/Switch"
                 data-dojo-attach-point="mapSwitch"
                 data-dojo-props="shape:'smallSwitch', leftLabel: '', rightLabel: ''"
                 data-dojo-attach-event="onStateChanged:_onMapSwitchStateChanged"></div>

            <span class="switcherLabel"
                  data-dojo-attach-point="rightLabel"></span>
        </div>
        <div data-dojo-type="dijit/layout/ContentPane"
             data-dojo-props="region:'center', 'class':'noPadding'"
             data-dojo-attach-point="controlsPane">
        </div>

    </div>
</div>