<div>
    <div class="ctSearchWrapper">
        <div class="ctSearchLoadingIndicator"
             data-dojo-attach-point="loadingNode"></div>
        <div data-dojo-attach-point="textbox"></div>
        <div data-dojo-type="dijit.form.Button"
             data-dojo-attach-point="clearButton"
             data-dojo-attach-event="onClick:_onClearClick"
             data-dojo-props="'class':'resetSearchButton dijitDisplayNone',label:'X'"></div>
        <div data-dojo-type="dijit.form.Button"
             data-dojo-attach-point="goButton"
             data-dojo-attach-event="onClick:_onSearchClick"
             data-dojo-props="'class':'goSearchButton', showLabel: false, iconClass:'icon-magnifier'"></div>
    </div>
</div>