<div class="shareUrlWidget">

    <div data-dojo-attach-point="messagePane"
         data-dojo-type="ct/ui/controls/MessagePane"
         data-dojo-props=""></div>
    <div data-dojo-attach-point="textbox"
         data-dojo-type="dijit/form/TextBox"
         data-dojo-props="trim:true,selectOnClick:true"></div>

    <table>
        <tr>
            <td class="labelCol">
                ${i18n.ui.size}
            </td>
            <td class="sizeInput">
                <input type="text"
                       data-dojo-type="dijit/form/NumberTextBox"
                       data-dojo-attach-point="widthNode"
                       data-dojo-attach-event="onKeyUp:_onSizeChange"
                       data-dojo-props="value:500,'class':'ctParameterSizeBox',constraints: {min:500,places:0}"/>
            </td>
            <td class="xInput">
                px
            </td>
            <td class="xInput">
                X
            </td>
            <td class="sizeInput">
                <input type="text"
                       data-dojo-type="dijit/form/NumberTextBox"
                       data-dojo-attach-point="heightNode"
                       data-dojo-attach-event="onKeyUp:_onSizeChange"
                       data-dojo-props="value:500,'class':'ctParameterSizeBox',constraints: {min:500,places:0}"/>
            </td>
            <td class="xInput">
                px
            </td>
        </tr>
    </table>

    <div data-dojo-attach-point="button"
         data-dojo-type="dijit/form/Button"
         data-dojo-props="label:this.i18n.ui.urlOk"
         data-dojo-attach-event="onClick:_onOk"></div>

</div>