/**
 * Created on : 26.11.2014, 12:30:08
 * Author     : juku
 *
 * Styling for scopedFilter Search
 *
 */
.winter .ctScopedFilter {
  float: right;
}
.winter .ctScopedFilter .dijitTextBox {
  height: 20px;
  max-width: 100px;
  float: left;
}
.winter .ctScopedFilter.hasNoButton .dijitTextBox {
  height: 19px;
}
