<div>
    <div data-dojo-attach-point="mainContainer"
         data-dojo-type="dijit.layout.BorderContainer"
         data-dojo-props="design:'sidebar',gutters:false,splitter:true">
        <div data-dojo-type="dijit.layout.BorderContainer"
             style="width: 200px"
             data-dojo-props="design:'sidebar', gutters:false,splitter:true, region:'left','class':'services'">
            <div data-dojo-type="dijit.layout.ContentPane"
                 data-dojo-props="region:'top','class':'mapModelBuilderTitle'">
                <h2>${i18n.generalConfig}</h2>
                <a data-dojo-attach-event="onclick:_onGeneralClick">${i18n.generalConfig}</a>
            </div>
            <!--<div data-dojo-type="dijit.layout.ContentPane" class="detailsHint" data-dojo-props="region:'top','class':'detailsHint'"></div>-->
            <div data-dojo-type="dijit.layout.ContentPane"
                 data-dojo-props="region:'center'">
                <h2>${i18n.servicesTitle}</h2>

                <div data-dojo-attach-point="_servicesTreeNode">
                </div>
            </div>
        </div>
        <div data-dojo-type="dijit.layout.BorderContainer"
             data-dojo-props="design:'sidebar', gutters:false,splitter:false, region:'center','class':'layerDetails'"
             data-dojo-attach-point="_detailsContainer">
            <div data-dojo-type="dijit.layout.ContentPane"
                 data-dojo-props="region:'top','class':'mapModelStoreBuilderTitle'">
                <h2>${i18n.details}</h2>
            </div>
            <div data-dojo-type="dijit.layout.ContentPane"
                 data-dojo-attach-point="formContainer"
                 data-dojo-props="region:'center'">
            </div>
        </div>
    </div>
</div>