<div>
    <div data-dojo-attach-point="itemNode"
         class="layerItemNode">
        <div data-dojo-attach-point="clickNode"
             class="clickNode">
        </div>
        <span class="iconNode"
              data-dojo-attach-point="iconNode"></span>
        <span class="titleLabelNode"
              data-dojo-attach-point="titleLabelNode"></span>

        <div class="buttonContainer upperButtonContainer">
            <span class="infoButton"
                  data-dojo-attach-point="infoButtonNode"></span>

            <div class="visibilityButton"
                 data-dojo-attach-point="layerVisibilityButton"
                 data-dojo-type="dijit/form/Button"
                 data-dojo-props="label:'visibility','iconClass':'icon-transparency visibilityButton'"></div>

            <span class="removeButton"
                  data-dojo-attach-point="removeButtonNode"></span>
            <span class="visibilityButton"
                  data-dojo-attach-point="visibilityButtonNode"></span>
        </div>
        <div class="sliderNode"
             data-dojo-attach-point="sliderNode">
            <span class="transparencySlider"
                  data-dojo-attach-point="transparencySliderNode"></span>
        </div>
        <div class="countNode"
             data-dojo-attach-point="poiCountNode">
            <span data-dojo-attach-point="countNode"></span>
            <span data-dojo-attach-point="totalCountNode"></span>
        </div>
        <div class="visibleScaleNode"
             data-dojo-attach-point="visibleScaleNode">
        </div>
    </div>
</div>