<div>
    <div data-dojo-attach-point="description"
         class="description">${i18n.description}
    </div>
    <div data-dojo-attach-point="selectionNode"
         class="dijitHidden">
        <span>${i18n.radiusText}</span>
        <span data-dojo-attach-point="selectRadiusNode"></span>
        <span>${i18n.around}</span>
    </div>
    <div data-dojo-attach-point="resultContainer"
         class="ctNearbyResultContainer">
        <span data-dojo-attach-point="iconNode"
              class="iconNode"></span>
        <span data-dojo-attach-point="positionNode"
              class="positionNode"></span>
    </div>
    <div data-dojo-attach-point="pointNode"></div>
</div>