<div>

    <div data-dojo-type="dijit/layout/BorderContainer"
         data-dojo-props="gutters:false, design:'headline'"
         data-dojo-attach-point="baseNode">

        <div data-dojo-type="dijit/layout/ContentPane"
             data-dojo-props="region:'top'">
            <div data-dojo-attach-point="selectionNode"></div>
        </div>

        <div data-dojo-type="dijit/layout/ContentPane"
             data-dojo-props="region:'center', gutters:false"
             data-dojo-attach-point="resultsNode">
            <div data-dojo-attach-point="dataviewNode"></div>
        </div>

    </div>

</div>