<div>
    <div data-dojo-type="dijit.form.Button" data-dojo-props="label:'X','class':'ctTooltipCloseButton'"
         data-dojo-attach-event="onClick:_onCloseClick"></div>
    <div data-dojo-attach-point="titlenode" class="ctTooltipLayerTitle"></div>
    <div data-dojo-attach-point="descriptionnode" class="ctTooltipLayerDesc"></div>
    <div class="ctTooltipMapScale">
        <span data-dojo-attach-point="scalenode"></span>
    </div>
    <a href="#" target="_blank" data-dojo-attach-point="linknode" class="ctMetadataLink">${i18n.ui.linkToMetadata}</a>
</div>