<div>
    <div data-dojo-type="dijit/form/Button"
         data-dojo-attach-point="end"
         data-dojo-attach-event="onClick:_onEnd"
         data-dojo-props="'class':'ctPrintButton',showLabel:false,'iconClass':'icon-arrow-left'"
         style="float:left"></div>
    <div class="printpreview">${i18n.printpreview}</div>
    <div data-dojo-type="dijit/form/Button"
         data-dojo-attach-point="print"
         data-dojo-attach-event="onClick:_onPrint"
         data-dojo-props="'class':'ctPrintButton',showLabel:false,'iconClass':'icon-printer'"
         style="float:right"></div>
</div>
