<div>
    <div data-dojo-attach-point="clickableNode">
        <div class="routingSettingsSummary"
             data-dojo-attach-point="titleNode"></div>
        <div class="routingStatsSummary"
             data-dojo-attach-point="subtitleNode"></div>
        <div data-dojo-type="dijit/form/Button"
             data-dojo-attach-point="elevationButton"
             data-dojo-props="'class':'elevationButton', 'label':'${i18n.elevation}','iconClass':'icon-height-profile'"></div>
        <div class="routingNoticeSummary">Opgelet: de routeplanner houdt geen rekening met eventuele hinder op de weg
        </div>
        <div data-dojo-attach-point="instructionsNode"></div>
    </div>
</div>
