<div>
    <table>
        <tr>
            <td>
                Name
            </td>
            <td>
                <input type="text" data-dojo-type="dijit/form/TextBox" data-dojo-props="trim:true,placeHolder:'z.B. \'mk\''" data-dojo-attach-point="_nameNode" />
            </td>
        </tr>
        <tr>
            <td>
                Start
            </td>
            <td>
                <input type="text" data-dojo-type="dijit/form/DateTextBox" data-dojo-props="constraints:{datePattern: 'dd-MM-yyyy'}" data-dojo-attach-point="_dateNode"/>
            </td>
        </tr>
        <tr>
            <td>
                Search in map extent
            </td>
            <td>
                <input data-dojo-type="dijit/form/CheckBox" data-dojo-props="checked:true" data-dojo-attach-point="_extentNode" />
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <button type="button" data-dojo-type="dijit/form/Button" data-dojo-attach-event="onClick:_onClick">Search</button>
            </td>
        </tr>
    </table>
</div>